.app-container {
	display: flex;
	flex-direction: column;
	height: 100vh;
	font-family: Arial, sans-serif;
	background-color: #f9f9f9;
}

.layout-selector,
.filter-box {
	padding: 10px;
	text-align: center;
	background-color: #fff;
	border-bottom: 1px solid #ddd;
}

.graph-section {
	height: 400px;
	width: 100%;
	padding: 12px;
	box-sizing: border-box;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}