.table-header {
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	margin-bottom: 20px;
}

form {
	margin-bottom: 20px;
	background-color: #fff;
	padding: 15px 20px;
	border-radius: 6px;
}

table {
	width: 100%;
	border-collapse: collapse;
	background-color: white;
	border-radius: 6px;
	overflow: hidden;
}

.action-form {
	display: inline;
}

@media (max-width: 768px) {

	th,
	td {
		font-size: 13px;
		padding: 10px;
	}

	form {
		padding: 10px;
	}

	button {
		padding: 6px 12px;
		font-size: 13px;
	}
}

.center-file-input {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 50vh;
	background-color: #f8f9fa;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.custom-input {
	display: none;
}

.file-icon {
	width: 50px;
	height: 50px;
}

.file-icon-label {
	color: white;
	padding: 12px;
	border-radius: 50%;
	font-size: 24px;
	cursor: pointer;
	margin-bottom: 20px;
	transition: background-color 0.3s ease;
}

.file-icon-label:hover {
	background-color: #d5e9fd;
}

form {
	margin-bottom: 20px;
	background-color: #fff;
	padding: 15px 20px;
	border-radius: 6px;
}