.center-file-input {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 50vh;
	background-color: #f8f9fa;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.custom-input {
	display: none;
}

.file-icon {
	width: 50px;
	height: 50px;
}

.file-icon-label {
	color: white;
	padding: 12px;
	border-radius: 50%;
	font-size: 24px;
	cursor: pointer;
	margin-bottom: 20px;
	transition: background-color 0.3s ease;
}

.file-icon-label:hover {
	background-color: #d5e9fd;
}